*,*::after,*::before{
  box-sizing: border-box;
  color: black;
}
body{
  font-family: sans-serif;
  font-weight: 300;
  margin: 0;
}

header{
  display: flex;
}

header > div{
  background-color: #d33a2c;
  border: 1px solid white;
  color: white;
  line-height: 178px;
  height: 178px;
  text-align: center;
  width: 280px;
}
.articles{
  display: flex;
  flex-wrap: wrap;
}
.articles > div {
  height: 745px;
  text-align: center;
  width: 50%;
}

.articles > div:nth-child(3n+1){
  background-color: #bc3428;
}

.articles .second-article{
  background-color: #c7372a;
}

.articles .third-article{
  background-color: #b13125;
}

.articles div > h2{
  height: 100px;
  padding: 15px;
  position: relative;
  text-align: left;
  top: 50%;
}

.articles div > h2 a{
  color: white;
  text-decoration: none;
}

.span{
  left: 0;
  position: absolute;
  text-align: center;
  right: 0;
  background-color:  #d33a2c;
}
.span span{
  background-color: white;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.latests-posts{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.latests-posts> div:not(.explore-features){
  border: 1px inset black;
  height: 469px;
  padding: 30px 40px 0 40px;
  width: 462px;
  text-align: center;
}
.explore-features{
  width: 671px;
  border: 1px inset black;
  text-align: center;
}

.conference{
  border: 1px inset black;
  height: 300px;
  line-height: 300px;
  text-align: center;
}

.main-link{
  border: 1px inset black;
  text-align: center;
}

.more-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.more-links > div{
  border: 1px inset black;
  height: 234px;
  width: 512px
}
.design-systems{
  border: 1px inset black;
  text-align: center;
}
.curated-posts{
  display: flex;
  justify-content: center;
}
.curated-posts > div{
  border: 1px inset black;
  text-align: center;
  padding: 30px 40px 0 40px;
}
.curated-posts h2{
  width: 61%;
  margin: 0 auto;
  text-align: left;
}
.curated-posts ul{
  margin: 0 auto;
  text-align: left;
  width: fit-content;
}
.newsletter{
  border: 1px inset black;
  text-align: center;
}
footer{
  height: 500px;
  border: 1px inset black;
  text-align: center;
  line-height: 500px;
}
